<p>My exercises</p>
<section>
    <div class="label">Actions</div>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button mat-fab (click)="openDialog()" color="primary" aria-label="Add exercise">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab color="accent" aria-label="Edit exercise">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button mat-fab color="warn" aria-label="Delete exercise">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>